<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SubApp1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SubApp1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeCraft</a>
                </div>
            </div>
            <div class="Alignright">
                @* Check if we're on the Index page *@
                    @if (ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home"){
                    @if (!User.Identity.IsAuthenticated){
                        <!-- Show the login button if the user is NOT authenticated -->
                        <button type="button" id="modalbtn">Logg inn</button>
                    }   
                    else{
                        <!-- Optionally, show a logout or profile button if the user is logged in -->
                        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
