@{
    ViewData["Title"] = "Profile Page";
}
<script src="https://kit.fontawesome.com/b090154bf0.js" crossorigin="anonymous"></script>
<body>
<div id="profile-container-left">
    <img id="profile-picture" src="https://i.imgur.com/Z8k08or.png">

    <div id="navbar-left">
        <a id="navbar-item" asp-controller="Profile" asp-action="Friends">Friends</a><br>
        <a id="navbar-item" asp-controller="Profile" asp-action="Edit">Edit Profile</a><br>
        <a id="navbar-item" asp-controller="Profile" asp-action="Logout">Logout</a>

    </div>
</div>
<div id="profile-container-right">
    
    <div id="container-post">
        <div id="post-area">
        <div id="post-pp">
            <img id="pp-content" src="https://i.imgur.com/Z8k08or.png">
        </div>
        <form asp-action="CreatePost" asp-controller="Profile" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

        <textarea id="post-textarea" name="PostContent" placeholder="Write something"></textarea>

        <!-- File input for image upload -->
        <input type="file" id="post-image" name="PostImage" accept="image/*" />
        
        <div id="post-interaction">
            <span id="post-choice"><i class="fa-regular fa-image"></i></span>
            <span id="post-choice"><i class="fa-regular fa-face-smile"></i></span>
            <span id="post-choice"><i class="fa-solid fa-location-dot"></i></span>
        </div>
        <div id="post" class="AlignRight">
           <button id="post-button" type="submit">Post</button>
        </div>
        </form>
        </div>
    </div>

    <div id="container-post">
        <div id="post-header">
            <a href="">
                <div id="post-pp">
                    <img alt="profile picture" id="pp-content" src="https://i.imgur.com/Z8k08or.png">
                </div>    
                <div id="post-profile">
                Jane Doe
                <br>
                &commat;JaneDoe
                </div>
            </a>
            <div id="post-posted">
                Sep 25
                <br>
                at 15:27
            </div>
        </div>
    <div id="post-contents">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies et metus ac pellentesque. Nunc eget volutpat tellus.</p>
        <img id="photo-50" src="https://i.imgur.com/7zhWQWq.jpeg">
        <img id="photo-50" style="float:right;" src="https://i.imgur.com/9XPBJmu.jpeg">
        <div id="post-interaction">
            <span id="post-choice"><a href=""><i class="fa-regular fa-heart"></i>  Like</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-comment"></i> Comment</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-star"></i> Favorite</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-share-from-square"></i> Share</a></span>
        </div>
    </div>
    </div>

    <div id="container-post">
        <div id="post-header">
             <a href="">
                <div id="post-pp">
                    <img alt="profile picture" id="pp-content" src="https://i.imgur.com/Z8k08or.png">
                </div>    
                <div id="post-profile">
                Jane Doe
                <br>
                &commat;JaneDoe
                </div>
            </a>
            <div id="post-posted">
                Sep 25
                <br>
                at 15:27
            </div>
        </div>
    <div id="post-contents">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam mauris eget vestibulum varius. Quisque at ipsum bibendum, sodales justo suscipit, aliquet eros. Quisque porta tellus orci, sit amet consectetur lacus commodo sed. Nullam neque nisi, porta in vestibulum in, bibendum sed purus. Curabitur ut neque odio. Nullam et efficitur sapien. Proin consectetur felis ut ex laoreet, sed faucibus elit accumsan. Nunc ornare, augue ac consectetur viverra, turpis nulla vestibulum ligula, at fringilla est sem eget augue. Mauris interdum luctus porta. Donec rhoncus ac nisl a rhoncus. Morbi scelerisque laoreet orci, in consequat lacus tempus vel. Curabitur molestie nibh ac pretium aliquam. Morbi tellus est, ornare nec diam pretium, pulvinar pretium ex. Sed porta enim nisi, id ullamcorper massa tincidunt eget.</p>
        <div id="post-interaction">
            <span id="post-choice"><a href=""><i class="fa-regular fa-heart"></i>  Like</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-comment"></i> Comment</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-star"></i> Favorite</a></span>
            <span id="post-choice"><a href=""><i class="fa-regular fa-share-from-square"></i> Share</a></span>
        </div>
    </div>
    </div>

</div>

</body>
